In [3]:
import pandas as pd
data = pd.read_csv(r"C:\Users\AI\Downloads\r.csv")
data

   sr.no        Name  Roll.No           Urn
0    NaN         NaN      NaN           NaN
1    1.0      Suraj    1011.0  1.022091e+09
2    2.0  Prathamesh   1019.0  1.022091e+09
3    3.0      Sanket   1009.0  1.022091e+09
4    4.0      Tejraj   1004.0  1.022091e+09

In [22]:
import pandas as pd
data = {"temperature":[1,2,3,4,5,6,7,8,9,0],"Humidity":[23,43,54,23,24,65,45,75,43,76]}
var = pd.DataFrame(data)
var

   temperature  Humidity
0            1        23
1            2        43
2            3        54
3            4        23
4            5        24
5            6        65
6            7        45
7            8        75
8            9        43
9            0        76

In [23]:
print(var.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  10 non-null     int64
 1   Humidity     10 non-null     int64
dtypes: int64(2)
memory usage: 292.0 bytes
None

In [24]:
print(var.head())

   temperature  Humidity
0            1        23
1            2        43
2            3        54
3            4        23
4            5        24

In [25]:
print(var.head(10))

   temperature  Humidity
0            1        23
1            2        43
2            3        54
3            4        23
4            5        24
5            6        65
6            7        45
7            8        75
8            9        43
9            0        76

In [28]:
print(var.tail(1))

   temperature  Humidity
9            0        76

In [27]:
print(pd.__version__)

2.0.3

In [42]:
import pandas as pd
a=[1,7.7,8,4,2]
myvar=pd.Series(a)
myvar

0    1.0
1    7.7
2    8.0
3    4.0
4    2.0
dtype: float64

In [38]:
print(myvar[0])

myvar=pd.Series(a,index=["w","x","y","z"])
print(myvar["z"])

1
2

In [61]:
import pandas as pd
data = {"temperature":[1,2,3,4,5,6,7,8,9,0],"Humidity":[23,43,54,23,24,65,45,75,43,76]}
var = pd.DataFrame(data)
var

   temperature  Humidity
0            1        23
1            2        43
2            3        54
3            4        23
4            5        24
5            6        65
6            7        45
7            8        75
8            9        43
9            0        76

In [63]:
print(pd.options.display.max_rows)

60

In [65]:
import pandas as pd
data = pd.read_csv(r"C:\Users\AI\Downloads\r.csv")
data
s=pd.options.display.max_rows=1
s

1